Qwafrica

    Ambitious
    191 answers
    53.3K people helped

Enabling gitignore globally:

Firstly we will set up a global .gitignore_global file, i.e. the list of the rules for ignoring the files in every Git repository on  computer.

$ git config --global core.excludesfile ~/.gitignore_global

This command will automatically set the following configuration in your ~/.gitconfig_global file.

[core]

       excludesfile = /home/user/.gitignore_global

gitignore:

Github has a great project with useful .gitignore files optimized for an Operating System and editor specific.

then should put them together in the single ~/.gitignore_global file that will  processed globally.

gitignore for Emacs:

# -*- mode: gitignore; -*-

*~

\#*\#

/.emacs.desktop

/.emacs.desktop.lock

*.elc

auto-save-list

tramp

.\#*

# Org-mode

.org-id-locations

*_archive

# flymake-mode

*_flymake.*

# eshell files

/eshell/history

/eshell/lastdir

# elpa packages

/elpa/

# reftex files

*.rel

# AUCTeX auto folder

/auto/

# cask packages

.cask/

dist/

# Flycheck

flycheck_*.el

# server auth directory

/server/

# projectiles files

.projectile

# directory configuration

.dir-locals.el
